/* ========================
    Google Fonts- Lato
 ========================== */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* ========================
        Generic style
 ========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
img {
  width: 100%;
}
/* ========================
        Navigation Section
 ========================== */
.logo h1 {
  color: white;
  font-size: 36px;
  flex-basis: 20%;
}
.navbar-detail {
  padding: 42px 0 67px;
  width: 100%;
}
.navbar-item {
  display: flex;
}
.navbar-item li {
  margin-right: 36px;
}
.navbar-item a {
  color: rgb(219, 218, 218);
  padding-bottom: 15px;
  font-size: 16px;
}
.navbar-item li:hover a {
  color: white;
  border-bottom: 2px solid white;
}
.linked-btn {
  padding: 12px 34px;
  background-color: #e02c6d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: inline-block;
}
.linked-btn:hover {
  background-color: #ac0240;
}
.fa-sign-in-alt {
  color: white;
  font-size: 16px;
  padding-right: 5px;
}
/* ========================
        Top Banner
 ========================== */
.top-banner {
  background-color: #2d25a0;
  height: 677px;
  width: 100%;
  margin-bottom: 70px;
}
.banner-info,
.banner-img {
  flex-basis: 50%;
}
.banner-img img {
  width: 100%;
}
.banner-img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.banner-img:hover {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}
.banner-heading {
  font-size: 64px;
  color: white;
  font-weight: bold;
  margin-bottom: 27px;
}
/* ========================
        Players Section
 ========================== */
.player-container {
  display: flex;
  justify-content: center;
}
.players-detail {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  grid-template-rows: repeat(auto-fit, 474px);
  grid-gap: 30px 30px;
  margin-bottom: 165px;
}
.player,
.latest-video-detail {
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.player-img img,
.woman-football-news img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.player-img,
.woman-football-news {
  overflow: hidden;
}
.player-img:hover img,
.woman-football-news:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.player-name {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  padding: 16px 0 10px;
}
.player-text,
.blog-text,
.woman-football-subtext,
.woman-text,
.video-text,
.video-subtext {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}

/* ========================
        Blog Section
 ========================== */

.blog-content,
.woman-football-section,
.latest-video-section {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.blog-content {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.blog-title {
  font-size: 48px;
  color: #0a0826;
}
.blog-text {
  text-align: left;
  padding: 10px 0 0;
}
.linked-btn {
  display: inline-block;
}
.fa-arrow-right {
  margin-left: 8px;
}
.blog-detail {
  width: 100%;
}
.blog-img {
  width: 100%;
}
/* ========================
     Woman footbal Section
 ========================== */
#woman-football {
  background-color: rgb(199, 255, 255);
  padding: 50px 0;
  margin-bottom: 160px;
}
.woman-football-news-container {
  justify-content: space-between;
}
.woman-football-news {
  width: 330px;
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.woman-football-section {
  margin-bottom: 0;
}
/* ========================
        Video Section
 ========================== */
.latest-video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.latest-video-detail {
  width: 330px;
  margin-top: 20px;
}
.latest-video-section .linked-btn {
  width: 160px;
  display: block;
  margin: 30px auto;
}

/* ========================
        Footer Section
 ========================== */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  max-width: 483px;
}
.social-icons {
  display: flex;
}
li .fab {
  color: #969bab;
  padding: 28px 14px;
  font-size: 32px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
li .fab:hover {
  color: black;
}
.copyright {
  color: black;
  margin-bottom: 63px;
}

/* ========================
        Media Queries
 ========================== */

@media only screen and (max-width: 1200px) {
  .top-banner-wrapper,
  .logo,
  .login {
    padding: 0 30px;
  }
  .players-detail {
    justify-content: space-evenly;
  }
  .blog-detail {
    padding-left: 30px;
  }
  .woman-football-title,
  .woman-text,
  .latest-video-title,
  .video-text,
  .blog-title,
  .blog-text {
    text-align: center;
  }
  .latest-video-container {
    justify-content: space-evenly;
  }
  .latest-video-detail {
    margin-top: 40px;
  }
  .woman-football-text .linked-btn {
    width: 180px;
    display: block;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 992px) {
  .flex-nav {
    flex-direction: column;
  }
  .navbar-item {
    padding: 50px 0;
  }
  .banner-heading {
    font-size: 48px;
  }
  .top-banner-wrapper,
  .logo,
  .login {
    padding: 0 30px;
  }
  .players-detail {
    justify-content: space-evenly;
  }
  .blog-content {
    flex-direction: column;
  }
  .blog-detail .linked-btn {
    width: 180px;
    display: block;
    margin: 30px auto;
  }
  .blog-img {
    margin-top: 40px;
  }
  .woman-football-news-container {
    justify-content: space-evenly;
  }
  .woman-football-section {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-detail {
    align-items: center;
    justify-content: center;
  }
  .navbar-item {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .navbar-item li {
    padding: 20px 0;
    margin: 0;
  }
  .top-banner-wrapper {
    flex-direction: column;
  }
  .banner-heading {
    text-align: center;
  }
  .banner-img {
    z-index: 3;
    margin-top: 50px;
  }
  .top-banner {
    height: auto;
  }
  .banner-info .linked-btn {
    width: 170px;
    margin: 30px auto;
    display: block;
  }
}
